# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.iml

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

# =========================
# C# / .NET
# =========================
bin/
obj/
*.dll
*.exe
*.pdb

# =========================
# Java
# =========================
target/
*.class
*.jar
*.war

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/

# =========================
# C / C++
# =========================
*.o
*.obj
*.out
*.exe
*.a
*.so

# =========================
# Build / Temp
# =========================
dist/
build/
tmp/
temp/

# =========================
# Logs
# =========================
*.log
